<header class="header">
  <app-navigation-trigger></app-navigation-trigger>

  <div class="header__logo">
    <h1><a [routerLink]="['']">Agenda Online</a></h1>
  </div>

  <app-search #search class="toggled" [class.toggled]="search.searchActive"></app-search>

</header>

<!-- Navigation section -->

<aside class="sidebar" [class.toggled]="sidebarVisible">
  <perfect-scrollbar>

    <div class="user" dropdown>
      <div class="user__info" dropdownToggle>
        <img class="user__img" src="./assets/demo/img/profile-pics/2.png" alt="">
        <div>
          <div class="user__name">Victor Jordan</div>
          <div class="user__email">vjordan@fitec.org.br</div>
        </div>
      </div>

      <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="">View Profile</a>
        <a class="dropdown-item" href="">Settings</a>
        <a class="dropdown-item" href="">Logout</a>
      </div>
    </div>

    <ul class="navigation">

      <li *ngFor="let item of itemsMenu" routerLinkActive="navigation__active" (click)="closeMenu()">
        <a [routerLink]="['/', item.link]">
          <i [ngClass]="['zmdi', item.icon]"></i>
          {{item.label}}
        </a>
      </li>

      <li routerLinkActive="navigation__sub--active" class="navigation__sub">
        <a (click)="toggleNavigationSub('Forms', $event)"><i class="zmdi zmdi-collection-text"></i> Forms</a>

        <ul [@toggleHeight]="navigationSubState.Forms">
          <li routerLinkActive="navigation__active"><a [routerLink]="['/form/form-elements']">Form Elements</a></li>
          <li routerLinkActive="navigation__active"><a [routerLink]="['/form/form-components']">Form Components</a></li>
          <li routerLinkActive="navigation__active"><a [routerLink]="['/form/form-validation']">Form Validation</a></li>
        </ul>
      </li>
    </ul>
  </perfect-scrollbar>
</aside>