<app-layout></app-layout>
<app-criar-evento (modalAgendamento)='updateSchedules($event)' [events]="calendarOptions.events"></app-criar-evento>
<app-verificar-horario [events]="calendarOptions.events"></app-verificar-horario>

<section class="content">
    <header class="content__title">
        <h1>Agendamento</h1>
        <div class="actions">
            <select class="form-control" [(ngModel)]="selectedMedicoId" (ngModelChange)="updateConsultorio($event)"
                placeholder="Selecione uma sala">
                <option *ngFor="let medico of medicos" [ngValue]="medico.id">
                    {{medico.nome}}
                </option>
            </select>
            <button class='btn btn-add' (click)="showModal()">
                <i class="actions__item zmdi zmdi-plus"></i>
                <span>Adicionar consulta</span>
            </button>
            <button class='btn btn-add check-time' (click)="showFreeTimeModal()">
                <i class="actions__item zmdi zmdi-calendar-check"></i>
                <span>Verificar horário</span>
            </button>
        </div>
    </header>

    <div class="card" style="height: 600px" *ngIf="calendarIsLoaded; else notLoaded">

        <div class="card-body">

            <div class="data-table__header">
            </div>
            <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>
        </div>
    </div>
    <ng-template #notLoaded>
        <p>Loading...</p>
    </ng-template>
</section>