header {
    .actions {
        align-items: baseline;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 60%;
        }

        select {
            appearance: menulist;
            background-color: rgba(105, 105, 105, 0.20);
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            color: #000000;
            height: 40px !important;
            margin: 24px 0 0;
            padding: 0 16px;
            width: 100%;
            -webkit-appearance: menulist !important;

            @media screen and (min-width: 768px) {
                margin: 0 24px;
                width: 40%;
            }

            &:focus,
            &:active {
                background-color: rgba(105, 105, 105, 0.20);
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: .25rem;
                color: #000000;
            }
        }
    }

}

.sidebar {
    z-index: 5;
    top: 0px;
}

.fc {
    .fc-day-header {
        background-color: #592828;
        color: #fff;
    }

    .fc-day-number {
        float: left!important;
        font-weight: bold;
        margin-left: 8px;
    }

    td.fc-sun,
    td.fc-sat {
        background-color: #E8EAF6;
        color: #592828;
    }
    .fc-title, .fc-time span, .fc-time {
        color: #000;
    }
}