<app-header></app-header>
<app-modal-pacientes></app-modal-pacientes>
<!-- <app-loader *ngIf="!isLoaded"></app-loader> -->

<section class="content">
    <header class="content__title">
        <h1>Pacientes</h1>
        <div class="actions">
            <button class='btn btn-add' (click)="showModal()">
                <i class="actions__item zmdi zmdi-plus"></i>
                <span>Adicionar paciente</span>
            </button>
        </div>
    </header>

    <div class="card">
        <div class="card-body">
            <div class="data-table__header">
                <div class="form-group data-table__filter">
                    <input autocomplete="false" placeholder="Filtrar por todas as colunas" [(ngModel)]="filter"
                        class="form-control">
                    <i class="form-group__bar"></i>
                </div>
            </div>

            <div class="table-responsive" *ngIf="isLoaded; else notLoaded">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Ação</th>
                            <th (click)="sort('nome')" class="pointer">
                                Nome
                                <i class="zmdi" *ngIf="key =='nome'"
                                    [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
                            </th>
                            <th (click)="sort('email')" class="pointer">
                                E-mail
                                <i class="zmdi" *ngIf="key =='email'"
                                    [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
                            </th>
                            <th (click)="sort('telefone')" class="pointer">
                                Telefone
                                <i class="zmdi" *ngIf="key =='telefone'"
                                    [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
                            </th>
                            <th (click)="sort('celular')" class="pointer">
                                Celular
                                <i class="zmdi" *ngIf="key =='celular'"
                                    [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
                            </th>
                            <th (click)="sort('dataNasc')" class="pointer">
                                Aniversário
                                <i class="zmdi" *ngIf="key =='dataNasc'"
                                    [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let paciente of pacientes | orderBy: key : reverse : true | filter:filter | paginate: { itemsPerPage: 10, currentPage: page };">
                            <td>
                                <div dropdown>
                                    <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                                        <span class="dropdown-item" (click)="showModal(paciente)">Editar</span>
                                        <!-- <span class="dropdown-item">Excluir</span> -->
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a [routerLink]="[ '/paciente', paciente.id ]">
                                {{paciente.nome}}
                                </a>
                            </td>
                            <td>{{paciente.email}}</td>
                            <td>{{paciente.telefone}}</td>
                            <td>{{paciente.celular}}</td>
                            <td>{{paciente.dataNascimento | date:"dd/MM/yy"}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Próximo">
                </pagination-controls>
            </div>
            <ng-template #notLoaded>
                <p>Loading...</p>
            </ng-template>
        </div>
    </div>

</section>
